<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="Site keywords here">
	<meta name="description" content="">
	<meta name='copyright' content=''>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Title -->
	<title>Thesis Project Blog</title>

	<!-- Favicon -->
	<link rel="icon" href="img/favicon.png">

	<!-- Google Fonts -->
	<link
		href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
		rel="stylesheet">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Nice Select CSS -->
	<link rel="stylesheet" href="css/nice-select.css">
	<!-- Font Awesome CSS -->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- icofont CSS -->
	<link rel="stylesheet" href="css/icofont.css">
	<!-- Slicknav -->
	<link rel="stylesheet" href="css/slicknav.min.css">
	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="css/owl-carousel.css">
	<!-- Datepicker CSS -->
	<link rel="stylesheet" href="css/datepicker.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="css/animate.min.css">
	<!-- Magnific Popup CSS -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Medipro CSS -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="css/responsive.css">

</head>

<body>

	<!-- Preloader -->
	<div class="preloader">
		<div class="loader">
			<div class="loader-outter"></div>
			<div class="loader-inner"></div>

			<div class="indicator">
				<svg width="16px" height="12px">
					<polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
					<polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
				</svg>
			</div>
		</div>
	</div>
	<!-- End Preloader -->

	<!-- Get Pro Button -->
	<ul class="pro-features">
		<a class="get-pro" href="#">Info</a>
		<li class="big-title">Healthcare System</li>
		<li class="title">Healthcare Webpage</li>
		<li>Provide heart monitoring system</li>
		<li>Connect with ECG device</li>
		<li>Store patients' data</li>
		<li>Help patients monitor their health regularly</li>
		<div class="button">
			<a href="document_list.html" target="_blank" class="btn">Go to Document</a>
			<a href="https://my.clevelandclinic.org/health/diseases/21493-cardiovascular-disease" target="_blank"
				class="btn">Cadiovascular Diseases</a>
		</div>
	</ul>

	<!-- Header Area -->
	<header class="header">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-5 col-12">
						<!-- Contact -->
						<ul class="top-link">
							<li><a href="about.html">About</a></li>
							<li><a href="#">Doctors</a></li>
							<li><a href="contact.html">Contact</a></li>
							<li><a href="login.html">Login</a></li>
						</ul>
						<!-- End Contact -->
					</div>
					<div class="col-lg-6 col-md-7 col-12">
						<!-- Top Contact -->
						<ul class="top-contact">
							<li><a href="login.html">{{user.user}}</a>
							<li><i class="fa fa-phone"></i>+84 34475347</li>
							<li><i class="fa fa-envelope"></i><a
									href="mailto:EEEEIU20031@student.hcmiu.edu.vn">EEEEIU20031@student.hcmiu.edu.vn</a>
							</li>
						</ul>
						<!-- End Top Contact -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->
		<!-- Header Inner -->
		<div class="header-inner">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-12">
							<!-- Start Logo -->
							<div class="logo">
								<a href="index_senior.html"><img src="img/logo_IU.png" alt="#"></a>
							</div>
							<!-- End Logo -->
							<!-- Mobile Nav -->
							<div class="mobile-nav"></div>
							<!-- End Mobile Nav -->
						</div>
						<div class="col-lg-7 col-md-9 col-12">
							<!-- Main Menu -->
							<div class="main-menu">
								<nav class="navigation">
									<ul class="nav menu">
										<li class="active"><a href="index_senior.html">Home <i
													class="icofont-rounded-down"></i></a>
											<ul class="dropdown">
												<li><a href="index_senior.html">Home Page</a></li>
											</ul>
										</li>
										<li><a href="document_list.html">Document<i
													class="icofont-rounded-down"></i></a>
											<ul class="dropdown">
												<li><a href="document_list.html">Document List</a></li>
											</ul>
										</li>
										<li><a href="service.html">Services<i class="icofont-rounded-down"></i></a>
											<ul class="dropdown">
												<li><a href="service.html">Service</a></li>
											</ul>
										</li>
										<li><a href="404.html">Pages<i class="icofont-rounded-down"></i></a>
											<ul class="dropdown">
												<li><a href="404.html">404 Error</a></li>
											</ul>
										</li>
										<li><a href="blog-single.html">Blogs<i class="icofont-rounded-down"></i></a>
											<ul class="dropdown">
												<li><a href="blog-single.html">Blog Details</a></li>
											</ul>
										</li>
									</ul>
								</nav>
							</div>
							<!--/ End Main Menu -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</header>
	<!-- End Header Area -->

	<!-- Breadcrumbs -->
	<div class="breadcrumbs overlay">
		<div class="container">
			<div class="bread-inner">
				<div class="row">
					<div class="col-12">
						<h2>Blog Single</h2>
						<ul class="bread-list">
							<li><a href="/index_senior.html">Home</a></li>
							<li><i class="icofont-simple-right"></i></li>
							<li class="active">Blog Single</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->

	<!-- Single News -->
	<section class="news-single section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-12">
					<div class="row">
						<div class="col-12">
							<div class="single-main">
								<!-- News Head -->
								<div class="news-head">
									<img src="img/blog1.jpg" alt="#">
								</div>
								<!-- News Title -->
								<h1 class="news-title"><a href="news-single.html">More than 80 clinical trials launch to
										test of the coronavirus .</a></h1>
								<!-- Meta -->
								<div class="meta">
									<div class="meta-left">
										<span class="author"><a href="#"><img src="img/author1.jpg" alt="#">Naimur
												Rahman</a></span>
										<span class="date"><i class="fa fa-clock-o"></i>03 Feb 2019</span>
									</div>
									<div class="meta-right">
										<span class="comments"><a href="#"><i class="fa fa-comments"></i>05
												Comments</a></span>
										<span class="views"><i class="fa fa-eye"></i>33K Views</span>
									</div>
								</div>
								<!-- News Text -->
								<div class="news-text">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis
										ultricies tortor, nec sollicitudin lorem sagittis vitae. Curabitur rhoncus
										commodo rutrum. Pellentesque habitant morbi tristique senectus et netus et
										malesuada fames ac turpis egestas. Aliquam nec lacus pulvinar, laoreet dolor
										quis, pellentesque ante. Cras nulla orci, pharetra at dictum consequat, pretium
										pretium nulla. Suspendisse porttitor nunc a sodales tempor. Mauris sed felis
										maximus, interdum metus vel, tincidunt diam.</p>
									<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
										turpis egestas. Aliquam nec lacus pulvinar, laoreet dolor quis, pellentesque
										ante. Cras nulla orci, pharetra at dictum consequat, pretium pretium nulla.
										Suspendisse porttitor nunc a sodales tempor. Mauris sed felis maximus, interdum
										metus vel, tincidunt diam. Nam ac risus vitae sem vehicula egestas. Sed velit
										nulla, viverra non commod</p>
									<div class="image-gallery">
										<div class="row">
											<div class="col-lg-6 col-md-6 col-12">
												<div class="single-image">
													<img src="img/blog2.jpg" alt="#">
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-12">
												<div class="single-image">
													<img src="img/blog3.jpg" alt="#">
												</div>
											</div>
										</div>
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis
										ultricies tortor, nec sollicitudin lorem sagittis vitae. Curabitur rhoncus
										commodo rutrum. Pellentesque habitant morbi tristique senectus et netus et
										malesuada fames ac turpis egestas. Aliquam nec lacus pulvinar, laoreet dolor
										quis, pellentesque ante. Cras nulla orci, pharetra at dictum consequat, pretium
										pretium nulla. Suspendisse porttitor nunc a sodales tempor. Mauris sed felis
										maximus, interdum metus vel, tincidunt diam.</p>
									<blockquote class="overlay">
										<p>Aliquam nec lacus pulvinar, laoreet dolor quis, pellentesque ante. Cras nulla
											orci, pharetra at dictum consequat, pretium pretium nulla. Suspendisse
											porttitor nunc a sodales tempor. Mauris sed felis maximus, interdum metus
											vel, tincidunt diam. Nam ac risus vitae sem vehicula egestas. Sed velit
											nulla, viverra non commodo et, sodales</p>
									</blockquote>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis
										ultricies tortor, nec sollicitudin lorem sagittis vitae. Curabitur rhoncus
										commodo rutrum. Pellentesque habitant morbi tristique senectus et netus et
										malesuada fames ac turpis egestas. Aliquam nec lacus pulvinar, laoreet dolor
										quis, pellentesque ante. Cras nulla orci, pharetra at dictum consequat, pretium
										pretium nulla. Suspendisse porttitor nunc a sodales tempor. Mauris sed felis
										maximus, interdum metus vel, tincidunt diam. Nam ac risus vitae sem vehicula
										egestas. Sed velit nulla, viverra non commodo et, sodales id dui.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis
										ultricies tortor, nec sollicitudin lorem sagittis vitae. Curabitur rhoncus
										commodo rutrum. Pellentesque habitant morbi tristique senectus et netus et
										malesuada fames ac turpis egestas. Aliquam nec lacus pulvinar, laoreet dolor
										quis, pellentesque ante. Cras nulla orci, pharetra at dictum consequat, pretium
										pretium nulla. Suspendisse</p>
								</div>
								<div class="blog-bottom">
									<!-- Social Share -->
									<ul class="social-share">
										<li class="facebook"><a href="#"><i
													class="fa fa-facebook"></i><span>Facebook</span></a></li>
										<li class="twitter"><a href="#"><i
													class="fa fa-twitter"></i><span>Twitter</span></a></li>
										<li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
										<li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
									</ul>
									<!-- Next Prev -->
									<ul class="prev-next">
										<li class="prev"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
										<li class="next"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
									</ul>
									<!--/ End Next Prev -->
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="blog-comments">
								<h2>All Comments</h2>
								<div class="comments-body">
									<!-- Single Comments -->
									<div class="single-comments">
										<div class="main">
											<div class="head">
												<img src="img/author1.jpg" alt="#" />
											</div>
											<div class="body">
												<h4>Afsana Mimi</h4>
												<div class="comment-meta"><span class="meta"><i
															class="fa fa-calendar"></i>March 05, 2019</span><span
														class="meta"><i class="fa fa-clock-o"></i>03:38 AM</span></div>
												<p>Lorem Ipsum available, but the majority have suffered alteration in
													some form, by injected humour, or randomised words Mirum est notare
													quam littera gothica, quam nunc putamus parum claram, anteposuerit
													litterarum formas</p>
												<a href="#"><i class="fa fa-reply"></i>replay</a>
											</div>
										</div>
									</div>
									<!--/ End Single Comments -->
									<!-- Single Comments -->
									<div class="single-comments left">
										<div class="main">
											<div class="head">
												<img src="img/author2.jpg" alt="#" />
											</div>
											<div class="body">
												<h4>Naimur Rahman</h4>
												<div class="comment-meta"><span class="meta"><i
															class="fa fa-calendar"></i>March 05, 2019</span><span
														class="meta"><i class="fa fa-clock-o"></i>03:38 AM</span></div>
												<p>Lorem Ipsum available, but the majority have suffered alteration in
													some form, by injected humour, or randomised words Mirum est notare
													quam littera gothica, quam nunc putamus parum claram, anteposuerit
													litterarum formas</p>
												<a href="#"><i class="fa fa-reply"></i>replay</a>
											</div>
										</div>
									</div>
									<!--/ End Single Comments -->
									<!-- Single Comments -->
									<div class="single-comments">
										<div class="main">
											<div class="head">
												<img src="img/author3.jpg" alt="#" />
											</div>
											<div class="body">
												<h4>Suriya Molharta</h4>
												<div class="comment-meta"><span class="meta"><i
															class="fa fa-calendar"></i>March 05, 2019</span><span
														class="meta"><i class="fa fa-clock-o"></i>03:38 AM</span></div>
												<p>Lorem Ipsum available, but the majority have suffered alteration in
													some form, by injected humour, or randomised words Mirum est notare
													quam littera gothica, quam nunc putamus parum claram, anteposuerit
													litterarum formas</p>
												<a href="#"><i class="fa fa-reply"></i>replay</a>
											</div>
										</div>
									</div>
									<!--/ End Single Comments -->
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="comments-form">
								<h2>Leave Comments</h2>
								<!-- Contact Form -->
								<form class="form" method="post" action="mail/mail.php">
									<div class="row">
										<div class="col-lg-4 col-md-4 col-12">
											<div class="form-group">
												<i class="fa fa-user"></i>
												<input type="text" name="first-name" placeholder="First name"
													required="required">
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-12">
											<div class="form-group">
												<i class="fa fa-envelope"></i>
												<input type="text" name="last-name" placeholder="Last name"
													required="required">
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-12">
											<div class="form-group">
												<i class="fa fa-envelope"></i>
												<input type="email" name="email" placeholder="Your Email"
													required="required">
											</div>
										</div>
										<div class="col-12">
											<div class="form-group message">
												<i class="fa fa-pencil"></i>
												<textarea name="message" rows="7"
													placeholder="Type Your Message Here"></textarea>
											</div>
										</div>
										<div class="col-12">
											<div class="form-group button">
												<button type="submit" class="btn primary"><i
														class="fa fa-send"></i>Submit Comment</button>
											</div>
										</div>
									</div>
								</form>
								<!--/ End Contact Form -->
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-12">
					<div class="main-sidebar">
						<!-- Single Widget -->
						<div class="single-widget search">
							<div class="form">
								<input type="email" placeholder="Search Here...">
								<a class="button" href="#"><i class="fa fa-search"></i></a>
							</div>
						</div>
						<!--/ End Single Widget -->
						<!-- Single Widget -->
						<div class="single-widget category">
							<h3 class="title">Blog Categories</h3>
							<ul class="categor-list">
								<li><a href="#">Men's Apparel</a></li>
								<li><a href="#">Women's Apparel</a></li>
								<li><a href="#">Bags Collection</a></li>
								<li><a href="#">Accessories</a></li>
								<li><a href="#">Sun Glasses</a></li>
							</ul>
						</div>
						<!--/ End Single Widget -->
						<!-- Single Widget -->
						<div class="single-widget recent-post">
							<h3 class="title">Recent post</h3>
							<!-- Single Post -->
							<div class="single-post">
								<div class="image">
									<img src="img/blog-sidebar1.jpg" alt="#">
								</div>
								<div class="content">
									<h5><a href="#">We have annnocuced our new product.</a></h5>
									<ul class="comment">
										<li><i class="fa fa-calendar" aria-hidden="true"></i>Jan 11, 2020</li>
										<li><i class="fa fa-commenting-o" aria-hidden="true"></i>35</li>
									</ul>
								</div>
							</div>
							<!-- End Single Post -->
							<!-- Single Post -->
							<div class="single-post">
								<div class="image">
									<img src="img/blog-sidebar2.jpg" alt="#">
								</div>
								<div class="content">
									<h5><a href="#">Top five way for solving teeth problems.</a></h5>
									<ul class="comment">
										<li><i class="fa fa-calendar" aria-hidden="true"></i>Mar 05, 2019</li>
										<li><i class="fa fa-commenting-o" aria-hidden="true"></i>59</li>
									</ul>
								</div>
							</div>
							<!-- End Single Post -->
							<!-- Single Post -->
							<div class="single-post">
								<div class="image">
									<img src="img/blog-sidebar3.jpg" alt="#">
								</div>
								<div class="content">
									<h5><a href="#">We provide highly business soliutions.</a></h5>
									<ul class="comment">
										<li><i class="fa fa-calendar" aria-hidden="true"></i>June 09, 2019</li>
										<li><i class="fa fa-commenting-o" aria-hidden="true"></i>44</li>
									</ul>
								</div>
							</div>
							<!-- End Single Post -->
						</div>
						<!--/ End Single Widget -->
						<!-- Single Widget -->
						<!--/ End Single Widget -->
						<!-- Single Widget -->
						<div class="single-widget side-tags">
							<h3 class="title">Tags</h3>
							<ul class="tag">
								<li><a href="#">business</a></li>
								<li><a href="#">wordpress</a></li>
								<li><a href="#">html</a></li>
								<li><a href="#">multipurpose</a></li>
								<li><a href="#">education</a></li>
								<li><a href="#">template</a></li>
								<li><a href="#">Ecommerce</a></li>
							</ul>
						</div>
						<!--/ End Single Widget -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ End Single News -->

	<!-- Footer Area -->
	<footer id="footer" class="footer ">
		<!-- Footer Top -->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>About Us</h2>
							<p>Thesis project</p>
							<p>Trần Duy Khánh</p>
							<p>EEEEIU20031</p>
							<!-- Social -->
							<ul class="social">
								<li><a href="#"><i class="icofont-facebook"></i></a></li>
								<li><a href="https://sites.google.com/view/trankhanh?usp=sharing"><i
											class="icofont-google-plus"></i></a></li>
							</ul>
							<!-- End Social -->
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer f-link">
							<h2>Quick Links</h2>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<ul>
										<li><a href="index_senior.html"><i class="fa fa-caret-right"
													aria-hidden="true"></i>Home</a></li>
										<li><a href="blog-single.html"><i class="fa fa-caret-right"
													aria-hidden="true"></i>Blogs</a></li>
										<li><a href="service.html"><i class="fa fa-caret-right"
													aria-hidden="true"></i>Services</a></li>

									</ul>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<ul>
										<li><a href="document_list.html"><i class="fa fa-caret-right"
													aria-hidden="true"></i>Document</a></li>
										<li><a href="contact.html"><i class="fa fa-caret-right"
													aria-hidden="true"></i>Contact</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Other
												Links</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>Terms and Conditions</h2>
							<p>This is a thesis project for study and research purposes.</p>
							<ul class="time-sidual">
								<li class="year">Semester 2 year 2024</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>Email</h2>
							<p>Email for contact</p>
							<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="email" placeholder="Email Address" class="common-input"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'"
									required="" type="email">
								<button class="button"><i class="icofont icofont-paper-plane"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Footer Top -->
		<!-- Copyright -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="copyright-content">
							<p>© Copyright 2023 | All Rights Reserved by <a href="https://www.wpthemesgrid.com"
									target="_blank">wpthemesgrid.com</a> </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Copyright -->
	</footer>
	<!--/ End Footer Area -->

	<!-- jquery Min JS -->
	<script src="js/jquery.min.js"></script>
	<!-- jquery Migrate JS -->
	<script src="js/jquery-migrate-3.0.0.js"></script>
	<!-- jquery Ui JS -->
	<script src="js/jquery-ui.min.js"></script>
	<!-- Easing JS -->
	<script src="js/easing.js"></script>
	<!-- Color JS -->
	<script src="js/colors.js"></script>
	<!-- Popper JS -->
	<script src="js/popper.min.js"></script>
	<!-- Bootstrap Datepicker JS -->
	<script src="js/bootstrap-datepicker.js"></script>
	<!-- Jquery Nav JS -->
	<script src="js/jquery.nav.js"></script>
	<!-- Slicknav JS -->
	<script src="js/slicknav.min.js"></script>
	<!-- ScrollUp JS -->
	<script src="js/jquery.scrollUp.min.js"></script>
	<!-- Niceselect JS -->
	<script src="js/niceselect.js"></script>
	<!-- Tilt Jquery JS -->
	<script src="js/tilt.jquery.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="js/owl-carousel.js"></script>
	<!-- counterup JS -->
	<script src="js/jquery.counterup.min.js"></script>
	<!-- Steller JS -->
	<script src="js/steller.js"></script>
	<!-- Wow JS -->
	<script src="js/wow.min.js"></script>
	<!-- Magnific Popup JS -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<!-- Counter Up CDN JS -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Main JS -->
	<script src="js/main.js"></script>
</body>

</html>