<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="Site keywords here">
	<meta name="description" content="">
	<meta name='copyright' content=''>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Title -->
	<title>Document</title>

	<!-- Favicon -->
	<link rel="icon" href="img/favicon.png">

	<!-- Google Fonts -->
	<link
		href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
		rel="stylesheet">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Nice Select CSS -->
	<link rel="stylesheet" href="css/nice-select.css">
	<!-- Font Awesome CSS -->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- icofont CSS -->
	<link rel="stylesheet" href="css/icofont.css">
	<!-- Slicknav -->
	<link rel="stylesheet" href="css/slicknav.min.css">
	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="css/owl-carousel.css">
	<!-- Datepicker CSS -->
	<link rel="stylesheet" href="css/datepicker.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="css/animate.min.css">
	<!-- Magnific Popup CSS -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Medipro CSS -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="css/responsive.css">
	<style>
		hr {
			border: 2px solid rgb(0, 255, 255);
		}
	
		.l {
			margin-left: 0px;
			width: 18%;
		}
	
		.m {
			margin-left: 20%;
			margin-right: 30%;
		}
	
		.vr1 {
			transform: rotate(90deg);
			width: 100%;
			margin-left: -30%;
		}
	
		.forms {
			margin-left: 0px;
			width: 50%;
			float: left;
			box-sizing: border-box;
			text-align: center;
		}
	
		.steps {
			margin-left: 0;
			width: 40%;
			float: left;
			box-sizing: border-box;
			border-left: 2px solid rgb(0, 255, 255);;
	
	
		}
	
		.clear {
			clear: both;
		}	</style>
</head>

<body>
	<!-- Preloader -->
	<div class="preloader">
		<div class="loader">
			<div class="loader-outter"></div>
			<div class="loader-inner"></div>

			<div class="indicator">
				<svg width="16px" height="12px">
					<polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
					<polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
				</svg>
			</div>
		</div>
	</div>
	<!-- End Preloader -->

	<!-- Get Pro Button -->
	<ul class="pro-features">
		<a class="get-pro" href="#">Info</a>
		<li class="big-title">Healthcare System</li>
		<li class="title">Healthcare Webpage</li>
		<li>Provide heart monitoring system</li>
		<li>Connect with ECG device</li>
		<li>Store patients' data</li>
		<li>Help patients monitor their health regularly</li>
		<div class="button">
			<a href="document_list.html" target="_blank" class="btn">Go to Document</a>
			<a href="https://my.clevelandclinic.org/health/diseases/21493-cardiovascular-disease" target="_blank"
				class="btn">Cadiovascular Diseases</a>
		</div>
	</ul>

	<!-- Header Area -->
	<header class="header">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-5 col-12">
						<!-- Contact -->
						<ul class="top-link">
							<li><a href="about.html">About</a></li>
							<li><a href="#">Doctors</a></li>
							<li><a href="contact.html">Contact</a></li>
							<li><a href="login.html">Login</a></li>
						</ul>
						<!-- End Contact -->
					</div>
					<div class="col-lg-6 col-md-7 col-12">
						<!-- Top Contact -->
						<ul class="top-contact">
							<li><a href="login.html">{{user.user}}</a>
							<li><i class="fa fa-phone"></i>+84 34475347</li>
							<li><i class="fa fa-envelope"></i><a
									href="mailto:EEEEIU20031@student.hcmiu.edu.vn">EEEEIU20031@student.hcmiu.edu.vn</a>
							</li>
						</ul>
						<!-- End Top Contact -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->

		<!-- Header Inner -->
		<div class="header-inner">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-12">
							<!-- Start Logo -->
							<div class="logo">
								<a href="index_senior.html"><img src="img/logo_IU.png" alt="#"></a>
							</div>
							<!-- End Logo -->
							<!-- Mobile Nav -->
							<div class="mobile-nav"></div>
							<!-- End Mobile Nav -->
						</div>
						<div class="col-lg-7 col-md-9 col-12">
							<!-- Main Menu -->
							<div class="main-menu">
								<nav class="navigation">
									<ul class="nav menu">
										<li class="active"><a href="index_senior.html">Home <i
													class="icofont-rounded-down"></i></a>
											<ul class="dropdown">
												<li><a href="index_senior.html">Home Page</a></li>
											</ul>
										</li>
										<li><a href="document_list.html">Document<i
													class="icofont-rounded-down"></i></a>
											<ul class="dropdown">
												<li><a href="document_list.html">Document List</a></li>
											</ul>
										</li>
										<li><a href="service.html">Services<i class="icofont-rounded-down"></i></a>
											<ul class="dropdown">
												<li><a href="service.html">Service</a></li>
											</ul>
										</li>
										<li><a href="404.html">Pages<i class="icofont-rounded-down"></i></a>
											<ul class="dropdown">
												<li><a href="404.html">404 Error</a></li>
											</ul>
										</li>
										<li><a href="blog-single.html">Blogs<i class="icofont-rounded-down"></i></a>
											<ul class="dropdown">
												<li><a href="blog-single.html">Blog Details</a></li>
											</ul>
										</li>
									</ul>
								</nav>
							</div>
							<!--/ End Main Menu -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</header>
	<!-- End Header Area -->

	<!-- Breadcrumbs -->
	<div class="breadcrumbs overlay">
		<div class="container">
			<div class="bread-inner">
				<div class="row">
					<div class="col-12">
						<h2>Patients' Data</h2>

						<ul class="bread-list">
							<li><a href="index_senior.html">Home</a></li>
							<li><i class="icofont-simple-right"></i></li>
							<li class="active">Patients' Data</li> <br> <br>
							<tr class="subdir">
								<td>
									<a style="color:white;font-size:150%;background-color:black;">{{user.name}}</a>
								</td>
								<td> <br>
									<a style="color:white;font-size:150%;background-color:black;">{{user.user}}</a>
								</td>
							</tr>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->

	<!-- Start Feautes -->
	<section class="Feautes section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h1>Patients' Documents</h1>
						<img src="img/ecg.gif" alt="ECG" style="width:400px;height:200px;">
						<h2>Patients' Data</h2>
						<img src="img/section-img.png" alt="#">
							<div id="files_record" class="card">
								<div class="card-header" style="font-size:150%;color:rgb(21, 21, 21);">RECORD FILES</div>
									<table class = "files_record">
										<colgroup>
											<col class="files_record_name">
											<col class="files_record_user">
											<col class="files_record_time">
										</colgroup>
										<thread>
											<tr>
												<th style="width:40%">Name</th>
												<th style="width:10%">User</th>
												<th style="width:50%">Time</th>
											</tr>
										</thread>
										<tbody>
											{% for url in urlsRecord.ids %}
											<tr>
											<td> <a href="/document_list/{{ url }}"
												style="color:rgb(21, 21, 21);background-color:powderblue;">
												Record {{loop.index}} </a> &nbsp; &nbsp;
													<a href="/download/{{url}}"
														style="color:rgb(21, 21, 21);background-color:azure">Download</a> 
											</td>
											<td style="color:rgb(21, 21, 21);"> {{urlsRecord.user[loop.index-1]}} </td>
											<td style="color:rgb(21, 21, 21);"> {{urlsRecord.time[loop.index-1]}} </td>
											</tr>
											{%endfor%}
											
										</tbody>
										</table>
							</div>
							<br>
							<div id="files_predict" class="card">
								<div class="card-header" style="font-size:150%;color:rgb(21, 21, 21);">PREDICT FILES</div>
									<table class = "files_predict" style="width:100%">
										<colgroup>
											<col class="files_predict_name">
											<col class="files_predict_user">
											<col class="files_predict_time">
										</colgroup>
										<thread>
											<tr>
												<th style="width:40%">Name</th>
												<th style="width:10%">User</th>
												<th style="width:50%">Time</th>
											</tr>
										</thread>
										<tbody>
										
											{% for url in urlsPredict.ids %}
											<tr>
											<td> <a href="/document_list/{{ url }}"
												style="color:rgb(21, 21, 21);background-color:powderblue;">
												Predict {{loop.index }}</a> &nbsp; &nbsp;
												<a href="/download/{{url}}"
												style="color:rgb(21, 21, 21);background-color:azure">Download</a>  
											</td>
											<td style="color:rgb(21, 21, 21);"> {{urlsPredict.user[loop.index-1]}} </td>
											<td style="color:rgb(21, 21, 21);">{{urlsPredict.time[loop.index-1]}} </td>
											</tr>
											{%endfor%}
											
										</tbody>
									</table>
							</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer Area -->
	<footer id="footer" class="footer" style="bottom: 0;">
		<!-- Footer Top -->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>About Us</h2>
							<p>Thesis project</p>
							<p>Trần Duy Khánh</p>
							<p>EEEEIU20031</p>
							<!-- Social -->
							<ul class="social">
								<li><a href="#"><i class="icofont-facebook"></i></a></li>
								<li><a href="https://sites.google.com/view/trankhanh?usp=sharing"><i
											class="icofont-google-plus"></i></a></li>
							</ul>
							<!-- End Social -->
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer f-link">
							<h2>Quick Links</h2>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<ul>
										<li><a href="index_senior.html"><i class="fa fa-caret-right"
													aria-hidden="true"></i>Home</a></li>
										<li><a href="blog-single.html"><i class="fa fa-caret-right"
													aria-hidden="true"></i>Blogs</a></li>
										<li><a href="service.html"><i class="fa fa-caret-right"
													aria-hidden="true"></i>Services</a></li>

									</ul>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<ul>
										<li><a href="document_list.html"><i class="fa fa-caret-right"
													aria-hidden="true"></i>Document</a></li>
										<li><a href="contact.html"><i class="fa fa-caret-right"
													aria-hidden="true"></i>Contact</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Other
												Links</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>Terms and Conditions</h2>
							<p>This is a thesis project for study and research purposes.</p>
							<ul class="time-sidual">
								<li class="year">Semester 2 year 2024</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>Email</h2>
							<p>Email for contact</p>
							<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="email" placeholder="Email Address" class="common-input"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'"
									required="" type="email">
								<button class="button"><i class="icofont icofont-paper-plane"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Footer Top -->
		<!-- Copyright -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="copyright-content">
							<p>© Copyright 2023 | All Rights Reserved by <a href="https://www.wpthemesgrid.com"
									target="_blank">wpthemesgrid.com</a> </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Copyright -->
	</footer>
	<!--/ End Footer Area -->

	<!-- jquery Min JS -->
	<script src="js/jquery.min.js"></script>
	<!-- jquery Migrate JS -->
	<script src="js/jquery-migrate-3.0.0.js"></script>
	<!-- jquery Ui JS -->
	<script src="js/jquery-ui.min.js"></script>
	<!-- Easing JS -->
	<script src="js/easing.js"></script>
	<!-- Color JS -->
	<script src="js/colors.js"></script>
	<!-- Popper JS -->
	<script src="js/popper.min.js"></script>
	<!-- Bootstrap Datepicker JS -->
	<script src="js/bootstrap-datepicker.js"></script>
	<!-- Jquery Nav JS -->
	<script src="js/jquery.nav.js"></script>
	<!-- Slicknav JS -->
	<script src="js/slicknav.min.js"></script>
	<!-- ScrollUp JS -->
	<script src="js/jquery.scrollUp.min.js"></script>
	<!-- Niceselect JS -->
	<script src="js/niceselect.js"></script>
	<!-- Tilt Jquery JS -->
	<script src="js/tilt.jquery.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="js/owl-carousel.js"></script>
	<!-- counterup JS -->
	<script src="js/jquery.counterup.min.js"></script>
	<!-- Steller JS -->
	<script src="js/steller.js"></script>
	<!-- Wow JS -->
	<script src="js/wow.min.js"></script>
	<!-- Magnific Popup JS -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<!-- Counter Up CDN JS -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Main JS -->
	<script src="js/main.js"></script>
</body>

</html>