<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="Site keywords here">
	<meta name="description" content="">
	<meta name='copyright' content=''>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Title -->
	<title>Thesis Project</title>

	<!-- Favicon -->
	<link rel="icon" href="img/favicon.png">

	<!-- Google Fonts -->
	<link
		href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
		rel="stylesheet">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Nice Select CSS -->
	<link rel="stylesheet" href="css/nice-select.css">
	<!-- Font Awesome CSS -->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- icofont CSS -->
	<link rel="stylesheet" href="css/icofont.css">
	<!-- Slicknav -->
	<link rel="stylesheet" href="css/slicknav.min.css">
	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="css/owl-carousel.css">
	<!-- Datepicker CSS -->
	<link rel="stylesheet" href="css/datepicker.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="css/animate.min.css">
	<!-- Magnific Popup CSS -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Medipro CSS -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="stylesheet" href="css/responsive.css">

</head>

<body>

	<!-- Preloader -->
	<div class="preloader">
		<div class="loader">
			<div class="loader-outter"></div>
			<div class="loader-inner"></div>

			<div class="indicator">
				<svg width="16px" height="12px">
					<polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
					<polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
				</svg>
			</div>
		</div>
	</div>
	<!-- End Preloader -->

	<!-- Get Pro Button -->
	<ul class="pro-features">
		<a class="get-pro" href="#">Info</a>
		<li class="big-title">Healthcare System</li>
		<li class="title">Healthcare Webpage</li>
		<li>Provide heart monitoring system</li>
		<li>Connect with ECG device</li>
		<li>Store patients' data</li>
		<li>Help patients monitor their health regularly</li>
		<div class="button">
			<a href="document_list.html" target="_blank" class="btn">Go to Document</a>
			<a href="https://my.clevelandclinic.org/health/diseases/21493-cardiovascular-disease" target="_blank"
				class="btn">Cadiovascular Diseases</a>
		</div>
	</ul>
	<!-- End Get Pro-->

	<!-- Header Area -->
	<header class="header">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-5 col-12">
						<!-- Contact -->
						<ul class="top-link">
							<li><a href="about.html">About</a></li>
							<li><a href="#">Doctors</a></li>
							<li><a href="contact.html">Contact</a></li>
							<li><a href="login.html">Login</a></li>
						</ul>
						<!-- End Contact -->
					</div>
					<div class="col-lg-6 col-md-7 col-12">
						<!-- Top Contact -->
						<ul class="top-contact">
							<li><a href="login.html">{{user.user}}</a>
							<li><i class="fa fa-phone"></i>+84 34475347</li>
							<li><i class="fa fa-envelope"></i><a href="mailto:EEEEIU20031@student.hcmiu.edu.vn">EEEEIU20031@student.hcmiu.edu.vn</a>
							</li>
							
						</ul>
						<!-- End Top Contact -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->
		<!-- Header Inner -->
		<div class="header-inner">
			<div class="container">
				<div class="inner">
					<div class="row">

						<div class="col-lg-3 col-md-3 col-12">
							<!-- Start Logo -->
							<div class="logo">
								<a href="index_senior.html"><img src="img/logo_IU.png" alt="#"></a>
							</div>
							<!-- End Logo -->
							<!-- Mobile Nav -->
							<div class="mobile-nav"></div>
							<!-- End Mobile Nav -->
						</div>
						<div class="col-lg-7 col-md-9 col-12">
							<!-- Main Menu -->
							<div class="main-menu">
								<nav class="navigation">
									<ul class="nav menu">
										<li class="active"><a href="index_senior.html">Home <i
													class="icofont-rounded-down"></i></a>
											<ul class="dropdown">
												<li><a href="index_senior.html">Home Page</a></li>
											</ul>
										</li>
										<li><a href="document_list.html">Document<i
													class="icofont-rounded-down"></i></a>
											<ul class="dropdown">
												<li><a href="document_list.html">Document List</a></li>
											</ul>
										</li>
										<li><a href="service.html">Services<i class="icofont-rounded-down"></i></a>
											<ul class="dropdown">
												<li><a href="service.html">Service</a></li>
											</ul>
										</li>
										<li><a href="404.html">Pages<i class="icofont-rounded-down"></i></a>
											<ul class="dropdown">
												<li><a href="document_visualize.html">404 Error</a></li>
											</ul>
										</li>
										<li><a href="blog-single.html">Blogs<i class="icofont-rounded-down"></i></a>
											<ul class="dropdown">
												<li><a href="blog-single.html">Blog Details</a></li>
											</ul>
										</li>
									</ul>
								</nav>
							</div>
							<!--/ End Main Menu -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</header>
	<!-- End Header Area -->

	<!-- Slider Area -->
	<section class="slider">
		<div class="hero-slider">
			<!-- Start Single Slider -->
			<div class="single-slider" style="background-image:url('img/ecg1.jpg')" width="500" height="600">
				<div class="container">
					<div class="row">
						<div class="col-lg-7">
							<div class="text">
								<h1 style="color:white;">Healthcare system to monitor heart's activity
									<span>(ECG)</span>
								</h1>
								<div class="button">
									<a href="https://en.wikipedia.org/wiki/Electrocardiography" class="btn">More about
										ECG</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Single Slider -->
			<!-- Start Single Slider -->
			<div class="single-slider" style="background-image:url('img/ecg2.jpg')">
				<div class="container">
					<div class="row">
						<div class="col-lg-7">
							<div class="text">
								<h1><span>Medical IoT</span></h1>
								<p style="color:white;font-size:150%;">Provide Patients' data</p>
								<div class="button">
									<a href="document_list.html" class="btn">Go to Document</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Start End Slider -->
			<!-- Start Single Slider -->
			<div class="single-slider" style="background-image:url('img/ecg3.jpg')">
				<div class="container">
					<div class="row">
						<div class="col-lg-7">
							<div class="text">
								<h1><span>Heart diseases</span> awareness</h1>
								<div class="button">
									<a href="https://my.clevelandclinic.org/health/diseases/21493-cardiovascular-disease"
										class="btn">More about Heart diseases</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Single Slider -->
		</div>
	</section>
	<!--/ End Slider Area -->

	<!-- Start Schedule Area -->
	<section class="schedule">
		<div class="container">
			<div class="schedule-inner">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12 ">
						<!-- single-schedule -->
						<div class="single-schedule first">
							<div class="inner">
								<div class="icon">
									<i class="fa fa-ambulance"></i>
								</div>
								<div class="single-content">
									<span>About</span>
									<h4>Thesis project</h4>
									<p>Provide information about the healthcare project</p>
									<a href="about.html">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- single-schedule -->
						<div class="single-schedule middle">
							<div class="inner">
								<div class="icon">
									<i class="icofont-prescription"></i>
								</div>
								<div class="single-content">
									<span>Service</span>
									<h4>Heart's activity monitor</h4>
									<p>Provide detail about provided service</p>
									<a href="service.html">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-12">
						<!-- single-schedule -->
						<div class="single-schedule last">
							<div class="inner">
								<div class="icon">
									<i class="icofont-ui-clock"></i>
								</div>
								<div class="single-content">
									<span>Cardiovascular diseases</span>
									<h4>More about heart diseases</h4>
									<p>Heart diseases take up one third deaths in 2019 by WHO</p>
									<a href="https://www.who.int/health-topics/cardiovascular-diseases">LEARN MORE<i
											class="fa fa-long-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/End Start schedule Area -->

	<!-- Start Feautes -->
	<section class="Feautes section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>We Provides Healthcare System</h2>
						<img src="img/section-img.png" alt="#">
						<p style="color:black;">Provide method to record health's activity</p>
						<p style="color:black;">Provide wearable device to record single-lead ECG everywhere</p>
						<p style="color:black;">Provide healthcare system to monitor real-time ECG</p>
						<p style="color:black;">Provide cloud storage without violate private rights</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-12">
					<!-- Start Single features -->
					<div class="single-features">
						<div class="signle-icon">
							<i class="icofont icofont-ambulance-cross"></i>
						</div>
						<h3>Remote Healthcare</h3>
						<p style="color:black;">Help you monitor your health at home regularly</p>
					</div>
					<!-- End Single features -->
				</div>
				<div class="col-lg-4 col-12">
					<!-- Start Single features -->
					<div class="single-features">
						<div class="signle-icon">
							<i class="icofont icofont-medical-sign-alt"></i>
						</div>
						<h3>Heart Diseases Awareness</h3>
						<p style="color:black;">Raises your awareness about cardiovascular diseases</p>
					</div>
					<!-- End Single features -->
				</div>
				<div class="col-lg-4 col-12">
					<!-- Start Single features -->
					<div class="single-features last">
						<div class="signle-icon">
							<i class="icofont icofont-stethoscope"></i>
						</div>
						<h3>Healthcare Storage</h3>
						<p style="color:black;">Stores your data on cloud database</p>
					</div>
					<!-- End Single features -->
				</div>
			</div>
		</div>
	</section>
	<!--/ End Feautes -->

	<!-- Start Fun-facts -->
	<div id="fun-facts" class="fun-facts section overlay">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Fun -->
					<div class="single-fun">
						<i class="icofont icofont-home"></i>
						<div class="content">
							<span class="counter">100</span>
							<p>Household Service</p>
						</div>
					</div>
					<!-- End Single Fun -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Fun -->
					<div class="single-fun">
						<i class="icofont icofont-user-alt-3"></i>
						<div class="content">
							<span class="counter">100</span>
							<p>Specialist Doctors</p>
						</div>
					</div>
					<!-- End Single Fun -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Fun -->
					<div class="single-fun">
						<i class="icofont-simple-smile"></i>
						<div class="content">
							<span class="counter">300</span>
							<p>Happy Patients</p>
						</div>
					</div>
					<!-- End Single Fun -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Fun -->
					<div class="single-fun">
						<i class="icofont icofont-table"></i>
						<div class="content">
							<span class="counter">1</span>
							<p>Years of Development</p>
						</div>
					</div>
					<!-- End Single Fun -->
				</div>
			</div>
		</div>
	</div>
	<!--/ End Fun-facts -->

	<!-- Start Why choose -->
	<section class="why-choose section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>Cardiovascular diseases</h2>
						<img src="img/section-img.png" alt="#">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-12">
					<!-- Start Choose Left -->
					<div class="choose-left">
						<h3>Our Mission</h3>
						<p style="color:black;">Provide common cardiovascular diseases relating to <a
								style="color:blue;"
								href="https://www.mayoclinic.org/diseases-conditions/heart-arrhythmia/symptoms-causes/syc-20350668">Arrhythmia</a>
						</p>
						<div class="row">
							<div class="col-lg-6">
								<ul class="list">
									<li><i class="fa fa-caret-right"></i>Atrial fibrillation</li>
									<li><i class="fa fa-caret-right"></i>Atrial flutter</li>
									<li><i class="fa fa-caret-right"></i>Supraventricular tachycardia</li>
								</ul>
							</div>
							<div class="col-lg-6">
								<ul class="list">
									<li><i class="fa fa-caret-right"></i>Ventricular fibrillation</li>
									<li><i class="fa fa-caret-right"></i>Ventricular tachycardia</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- End Choose Left -->
				</div>
				<div class="col-lg-6 col-12">
					<!-- Start Choose Rights -->
					<div class="choose-right">
						<div class="video-image">
							<!-- Video Animation -->
							<div class="promo-video">
								<div class="waves-block">
									<div class="waves wave-1"></div>
									<div class="waves wave-2"></div>
									<div class="waves wave-3"></div>
								</div>
							</div>
							<!--/ End Video Animation -->
							<a href="https://www.youtube.com/watch?v=xAfj5AHxC2I"
								class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
						</div>
					</div>
					<!-- End Choose Rights -->
				</div>
			</div>
		</div>
	</section>
	<!--/ End Why choose -->

	<!-- Start clients -->
	<div class="clients overlay">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-12">
					<div class="owl-carousel clients-slider">
						<div class="single-clients">
							<img src="img/client1.png" alt="#">
						</div>
						<div class="single-clients">
							<img src="img/client2.png" alt="#">
						</div>
						<div class="single-clients">
							<img src="img/client3.png" alt="#">
						</div>
						<div class="single-clients">
							<img src="img/client4.png" alt="#">
						</div>
						<div class="single-clients">
							<img src="img/client5.png" alt="#">
						</div>
						<div class="single-clients">
							<img src="img/client1.png" alt="#">
						</div>
						<div class="single-clients">
							<img src="img/client2.png" alt="#">
						</div>
						<div class="single-clients">
							<img src="img/client3.png" alt="#">
						</div>
						<div class="single-clients">
							<img src="img/client4.png" alt="#">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/Ens clients -->

	<!-- Footer Area -->
	<footer id="footer" class="footer ">
		<!-- Footer Top -->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>About Us</h2>
							<p>Thesis project</p>
							<p>Trần Duy Khánh</p>
							<p>EEEEIU20031</p>
							<!-- Social -->
							<ul class="social">
								<li><a href="#"><i class="icofont-facebook"></i></a></li>
								<li><a href="https://sites.google.com/view/trankhanh?usp=sharing"><i
											class="icofont-google-plus"></i></a></li>
							</ul>
							<!-- End Social -->
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer f-link">
							<h2>Quick Links</h2>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<ul>
										<li><a href="index_senior.html"><i class="fa fa-caret-right"
													aria-hidden="true"></i>Home</a></li>
										<li><a href="blog-single.html"><i class="fa fa-caret-right"
													aria-hidden="true"></i>Blogs</a></li>
										<li><a href="service.html"><i class="fa fa-caret-right"
													aria-hidden="true"></i>Services</a></li>

									</ul>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<ul>
										<li><a href="document_list.html"><i class="fa fa-caret-right"
													aria-hidden="true"></i>Document</a></li>
										<li><a href="contact.html"><i class="fa fa-caret-right"
													aria-hidden="true"></i>Contact</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Other
												Links</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>Terms and Conditions</h2>
							<p>This is a thesis project for study and research purposes.</p>
							<ul class="time-sidual">
								<li class="year">Semester 2 year 2024</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>Email</h2>
							<p>Email for contact</p>
							<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="email" placeholder="Email Address" class="common-input"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'"
									required="" type="email">
								<button class="button"><i class="icofont icofont-paper-plane"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Footer Top -->
		<!-- Copyright -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="copyright-content">
							<p>© Copyright 2023 | All Rights Reserved by <a href="https://www.wpthemesgrid.com"
									target="_blank">wpthemesgrid.com</a> </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Copyright -->
	</footer>
	<!--/ End Footer Area -->

	<!-- jquery Min JS -->
	<script src="js/jquery.min.js"></script>
	<!-- jquery Migrate JS -->
	<script src="js/jquery-migrate-3.0.0.js"></script>
	<!-- jquery Ui JS -->
	<script src="js/jquery-ui.min.js"></script>
	<!-- Easing JS -->
	<script src="js/easing.js"></script>
	<!-- Color JS -->
	<script src="js/colors.js"></script>
	<!-- Popper JS -->
	<script src="js/popper.min.js"></script>
	<!-- Bootstrap Datepicker JS -->
	<script src="js/bootstrap-datepicker.js"></script>
	<!-- Jquery Nav JS -->
	<script src="js/jquery.nav.js"></script>
	<!-- Slicknav JS -->
	<script src="js/slicknav.min.js"></script>
	<!-- ScrollUp JS -->
	<script src="js/jquery.scrollUp.min.js"></script>
	<!-- Niceselect JS -->
	<script src="js/niceselect.js"></script>
	<!-- Tilt Jquery JS -->
	<script src="js/tilt.jquery.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="js/owl-carousel.js"></script>
	<!-- counterup JS -->
	<script src="js/jquery.counterup.min.js"></script>
	<!-- Steller JS -->
	<script src="js/steller.js"></script>
	<!-- Wow JS -->
	<script src="js/wow.min.js"></script>
	<!-- Magnific Popup JS -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<!-- Counter Up CDN JS -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Main JS -->
	<script src="js/main.js"></script>
</body>

</html>